{% extends 'base.html.twig' %}

{% block title %}Réservation
{% endblock %}
{% block body %}
	<div class="background">
		<div class="shape"></div>
		<div class="shape"></div>
	</div>
	<form>
		<h3>Réservation</h3>

	<label for="name">Choisir le modele :</label>
</br>
	{% for modele in lesModeles %}
		<a href="/choixreservation/{{ modele.ID }}">{{modele.nom}}</a>
	{% endfor %}

<a href="/">Annuler la reservation</a><br></span></form>{% endblock %}
