{% extends 'base.html.twig' %}

{% block title %}Historique
{% endblock %}
{% block body %}
	<div class="background">
		<div class="shape"></div>
		<div class="shape"></div>
	</div>
	<form>
		<h3>Historique</h3>
<a href="/">Retourner à l'accueil</a><br></form>{% endblock %}
